@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Porra quero pica</h1>
    <p>Learn about <a href="https://www.youtube.com/watch?v=-oYMo8k22Vw">building Web apps with ASP.NET Core</a>.</p>
</div>
